---
import type { GetStaticPaths } from "astro";
import MainLayout from "../../layouts/MainLayout.astro";
import PokemonCard from "../../components/pokemons/PokemonCard.astro";

export const getStaticPaths = (() => {
  return [
    { params: { name: "bulbasaur" } },
    { params: { name: "charmander" } },
    { params: { name: "squirtle" } },
    { params: { name: "pikachu" } },
  ];
}) satisfies GetStaticPaths;

const { name } = Astro.params;
---

<MainLayout title="Algun pokemon">
  <section class="mt-10 mx-10 flex flex-col justify-center items-center">
    <div>
      <a href="/" class="text-blue-600 hover:underline">Regresar</a>
      <h1 class="text-5xl capitalize">{name}</h1>
    </div>

    <PokemonCard
      name={name}
      url={`https://pokeapi.co/api/v2/pokemon/${name}`}
    />
  </section>
</MainLayout>
